    h2 {text-align:center;color:powderblue;font-family:'Indie Flower',cursive; font-size: 125%}
    h3 {color:powderblue;font-family:'Indie Flower',cursive; font-size: 125%}
    h4 {color:powderblue;font-family:'Indie Flower',cursive; font-size: 125%}
    p {color:powderblue;font-family:'Indie Flower',cursive; font-size: 125%;}
    li {color:powderblue;font-family:'Indie Flower',cursive; font-size: 125%}
    hr {color:blue;}
    body {
      background-image: url("B.A.P Stop It Matoki Album Cover.jpg");
      background-size: 720px 960px;
      background-color: rgb(0, 100, 255);
      padding-top: 50px;
    }
    nav {
      float: center;
      max-width: 1024px;
      margin: 0
      padding: lem;
    }
    article {
      margin-top: 0;
      padding: lem;
    }
    .navbar {
      overflow: hidden;
      background-color: #008CBA;
      position: fixed;
      top: 0;
      width: 100%;
    }
    .navbar a {
      float: left;
      display: block;
      color: powderblue;
      font-family:'Indie Flower',cursive;
      text-align: center;
      padding: 8px 120px;
      text-decoration: none;
      font-size: 24px;
    }
.button {
    background-color: #008CBA;
    border: 2px solid blue;
    border-radius: 4px;
    color: powderblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

.button:hover {
    background-color: powderblue;
    color: #008CBA;
}
